html,
body {
  height: 100%;
  margin: 0;
  scrollbar-width: none;
  background: conic-gradient(
    from 36deg at 20% 80%,
    red 6deg,
    orange 6deg 18deg,
    yellow 18deg 45deg,
    green 45deg 110deg,
    blue 110deg 200deg,
    purple 200deg
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

pre {
  font-family: monospace;
  font-size: 8px; /* Adjust font size as needed */
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  text-align: center;
}

h1 {
  color: blue;
}


@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  pre {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  pre {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}